[submodule "public/bootstrap"]
	path = public/bootstrap
	url = git@github.com:twbs/bootstrap.git
[submodule "public/multiselect"]
	path = public/multiselect
	url = git@github.com:davidstutz/bootstrap-multiselect.git
[submodule "public/datatables"]
	path = public/datatables
	url = git@github.com:DataTables/DataTables.git
[submodule "library/ExcelMgr"]
	path = library/ExcelMgr
	url = git@github.com:jstormes/ExcelMgr.git
[submodule "public/slickgrid"]
	path = public/slickgrid
	url = https://jstormes@github.com/jstormes/SlickGrid.git
[submodule "library/PHPSlickGrid"]
	path = library/PHPSlickGrid
	url = https://jstormes@github.com/jstormes/phpslickgrid.git
